@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
li{
    font-family: 'Poppins','sans-serif';
}
p{
    font-family: 'Poppins','sans-serif';
}
.tomato:hover{
    box-shadow: 8px 10px 15px #AEC495;
    transition-duration:1s ;
}

header{
    border-bottom: 1px solid gray;
}
.about{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.join:hover{
    background:#FFFFFF;
    color: #88d622ff;
    transition-duration: 1s;
}
footer{
    border-top: 1px solid #737373;
}
label{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.footer-text{
    text-align-last:center ;
}
.footer-box{
    transition: height 2s;
}
.footer-box:hover{
    height:40vh;
}
@media (min-width: 320px) and (max-width: 480px) {
  
    .basket{
        display: none
    }
    .logo{
        position: relative;
        left: -30px;
    }
    .navigation{
        position: relative;
        left: -460px;
    }
    .li-5{
        display: none;
    }
    .signup{
        display: none;
    }
    .log-in{
        display:none
    }
    .main-text{
        position: relative;
        right:50px;
    }
    .secondary-text{
        position: relative;
        right: 55px;

    }
    .shopnow{
        margin-left: 90px;
    }

  }